@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .project-detail-scrollbar::-webkit-scrollbar {
        width: 5px;
    }

    .project-detail-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .project-detail-scrollbar::-webkit-scrollbar-thumb {
        background-color: gray;
        /* Tailwind blue-500 */
    }

    .project-detail-scrollbar::-webkit-scrollbar-corner {
        display: none
    }
}


.highlight-text {
    @apply text-[var(--main-color)] font-extrabold;
}

.btn {
    @apply overflow-hidden inline-block px-6 py-2 font-light text-sm border-[1px] border-[var(--light-tex)] hover:text-[var(--main-color)] active:bg-[var(--main-color)] active:text-white transition-colors;
}

.project {
    @apply flex flex-col w-72 h-auto border-[1px] border-[var(--light-text)];
}

.project-img {
    @apply w-full overflow-hidden max-mobile:h-auto;
}

.project-para {
    @apply text-sm text-[var(--light-text)];
}

.project-detail {
    @apply flex flex-col gap-2 px-4 py-2 border-y-[1px] border-[var(--light-text)] h-36 overflow-y-auto project-detail-scrollbar;
}